<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.slliver.dao.ApiLoanDaquanDetailMapper">
    <resultMap type="com.slliver.entity.ApiLoanDaquanDetail" id="loanDetailMap" extends="com.slliver.base.dao.LoanDaquanDetailMapper.BaseResultMap">
    </resultMap>
    <delete id="deleteBatch">
        DELETE FROM loan_daquan_detail where loan_pkid = #{loanPkid}
    </delete>
</mapper>